input
{
	text-align:right;
	width: 75px;
}
table td, table th
{
	padding:0px 10px;
	color:#606060;
}
tr td
{
	text-align:right;
}
tr td:first-child
{
	text-align:left;
}
#topWrapper>div, #bottomWrapper>div
{
	float:left;
	
	color:#303030;
	
}
div>h3
{
	width:100%;
	text-align:center;
}
#debt
{
	width:65%; 
	background-color:rgba(0,60,255,.2);
	min-width:800px;
	
}
#revenue
{
	width:30%;
	min-width:400px;
}

#debt, #revenue
{
	height:100%;
	top : 0;
}

#topWrapper,#bottomWrapper
{
	position:absolute;
	min-width: 1210px;
	width:95%;
	overflow:hidden;
	left:2.5%;
}

#topWrapper
{
	height:30%;
	min-height:222px;
	top:2%;
	
}

#bottomWrapper
{
	
	height:62.5%;
	min-height:411px;
	top:32%;
	
}

/*#debt, #revenue
{
	height:30%;
	min-height:220px;
	
}*/
#iDSCR
{
	width:23.75%;
	min-width:300px;
	background-color:rgba(60,128,255,.2)
}
#pDSCR
{
	width:71.25%;
	min-width:900px;
	background-color:rgba(0,128,255,.2);
	
}

#pDSCR,#iDSCR
{
	height:100%;
	overflow:hidden;
}

#logo
{
	height:120px;
	width:120px;
	background-image:url(../images/logo.jpg);
	position:fixed;
	top:5px;
	right:5px;
	z-index: 1000;
	display: none;
}

.gl
{
	height:1px;
	width:100%;
	background-color:#000000;
	position: relative;
}

#bgBackground
{
	background-color : white;
	height : 80%;
	width : 75%;
	left : 12.5%;
	position : relative;
}

#plotArea
{
	top: 0;
	height : 85%;
	width : 75%;
	left : 22.5%;
	position : relative;
}

.bLabel
{
	position:absolute;
	left:7%;
}

#bgBar
{
	background-color:#0000E0;
	width: 50%;
	position: absolute;
	left: 25%;
	z-index:10;
}
#bgTarget
{
	background-color:lightgreen;
	width: 100%;
	position: absolute;
	left:0;
	z-index: 20;
	opacity:0.5;
}

#bgVal
{
	width: 50%;
	left: 25%;
	position: absolute;
	text-align: center;
	height: 15%;
	padding: 4%;
}

#dTable
{
	float:left;
	margin-left:10%;
	position: relative;
	border-collapse:collapse;
	background-color:#BBCCFF
}

#dTable tr td, #dTable tr th
{
	border: 1px #606060 solid;
}

#dTable tr:nth-child(even)
{
	background-color:white;
}

#dTable tr:nth-child(odd)
{
	background-color:#DDDDDD;
}


#dTable tr:first-child
{
	background-color:#BBCCFF
}

#dTable tr td
{
	text-align:right;	
}

#dTable tr td:first-child
{
	text-align:center;
}

#lineGraph{
	margin-left: 10%;
	width: 70%;
	position:relative;
	float: left;
	height: 80%;
}

polyline
{
	stroke: green;
	stroke-width : 1;
	fill: none
}

body>div>div
{
	border:#404040 1px solid;
}
